* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgba(21, 33, 51, 1);
    text-align: center;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 25rem;
    margin: 0 auto;
}
.small {
    font-size: smaller;
}
h1 {
    font-size: 2.6rem;
}
p {
    margin-top: 1em;
}
button {
    background: #FCA311;
    color: black;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    padding: 1em;
    margin-top: 1em;
}
h2 {
    font-size: 2rem;
    margin: 7rem 0;
}
.secondContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.secondContainer p {
    width: 30%;
    font-size: 24px;
}